body {
  padding-top: 5rem;
}
.starter-template {
  padding: 1.5rem 1.5rem;
  text-align: center;
}
 body {
  background-color:#ffbdd4;
}
body {
  font-family: "Corbel", Times, serif;
}
a {
  color: black
}
a:hover {
  color:  black
}
