body {
  padding-top: 5rem;
  background-color: #e492e8;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel-item.carousel-item-next.carousel-item-left {
  display: none;
}
